{
    "OUTPUT_DIR": "",
    "FINAL_DIR": "",
    "FASTQ_URL": "",
    "MOUNT_DIR": "",
    "LOG_DIR": "",
    "CONTROL_DIR": "",
    "CENTRIFUGE_DIR": "",
    "CENTRIFUGE_INDEX": "/centrifuge/nt",
    "CENTRIFUGE_PROC": "8",
    "CENTRIFUGE_MM": "",
    "EMAIL": {
        "to_email": [""],
        "from_email": [""],
        "smtp": ""
    },

    "STATUS_DB": {
        "host": "",
        "user": "",
        "password": "",
        "database": ""
    },
    "BAUER_DB": {
        "api": "",
        "token": ""
    }
}
