{% extends "base.html" %}
{% block title %}{{subject}}{% endblock title %}
{% block content %}
    <h3>{{run}}</h3>
    <p>
    Dear Client,<br><br>
    The following assumptions were made in processing your data based off
    information in the submission.<br>
    <ul style="list-style-type:circle;">
    {% for assumption in assumptions %}
        <li>{{assumption}}</li>
    {% endfor %}
    </ul>
    If any of these
    assumptions are incorrect for your data then the results provided may not
    be accurate.  Please do not hesitate to reach out to the core with
    questions.<br><br>
    Please examine the scripts used to process your data here:<br>
    <a href="{{fastq_url}}{{run}}/script">{{fastq_url}}{{run}}/script</a><br><br>
    The fastq files with the read sequences of run {{run}} are available at:<br>
    <a href="{{fastq_url}}{{run}}">{{fastq_url}}{{run}}</a><br>
    or under {{fastq_dir}}/{{run}} on the FAS RC cluster.<br><br>
    Summary statistics can be found in
    <a href="{{fastq_url}}{{run}}/fastq/Reports/html/">{{fastq_url}}{{run}}/fastq/Reports/html/</a><br><br>
    Quality statistics can be found in
    <a href="{{fastq_url}}{{run}}/QC/multiqc_report.html">{{fastq_url}}{{run}}/QC/multiqc_report.html</a><br><br>
    Reads with indices not in {{fastq_dir}}/{{run}}/SampleSheet.csv are in the fastq
    Undetermined<br><br>
    Users must download a local copy of their data,
    THIS RUN DATA WILL BE DELETED AFTER 30 DAYS from its current location with no exceptions.<br><br>

    For downloads or transfers off the FAS RC cluster, it is recommended to use <a href="https://docs.rc.fas.harvard.edu/kb/globus-file-transfer/">Globus</a> for fast and reliable data transfer.
    The run may be accessed via the Globus web interface at:<br>
    <a href="{{globus_url}}{{run}}%2F">{{globus_url}}{{run}}%2F</a><br><br>
    For Globus downloads to a personal workstation, this currently requires installing <a href="https://www.globus.org/globus-connect-personal">Globus Connect Personal</a> and selecting the resulting Globus endpoint for the workstation in the <a href="https://docs.globus.org/how-to/get-started/#request_a_file_transfer">Transfer or Sync to</a> box.<br><br>

    For more information, please see our
    <a href="https://informatics.fas.harvard.edu/category/faq.html">FAQ Page</a>.
    </p><br>

    <p>Please acknowledge our support when publishing your work by referring to us
    as "The Bauer Core Facility at Harvard University."</p>
    <p>
    <p>Software versions:</p>
    <ul style="list-style-type:circle;">
    {% for version in versions %}
        <li>{{version}}</li>
    {% endfor %}
    </ul>
    <p>Command line run:<br> {{cmd}}</p>
    <h3>Sample Sheet:</h3>
    {{sample_sheet}}
    </p>
{% endblock content %}
