{% extends "base.html" %}
{% block title %}{{subject}}{% endblock title %}
{% block content %}
    <h3>{{run}}</h3>
    <h3>{{instrument|title}}
    {% if lanes|length > 1 %}
         Total Anaylses {{lanes|length}}
    {% endif %}
    </h3>
    {% for name, lane in lanes.items() %}
        <h4>Analysis: {{name}}</h4>
        <p>Reads (R1+R2): {{lane['reads']}}<br>
        Number of samples: {{lane['sam_num']}}</p>
        {% if lane['samples'] %}
            <table cellspacing="0" cellpadding="10" border="1px">
            {% for h in lane['samples'].itervalues().next().keys() %}
                <th>{{h|title}}</th>
            {% endfor %}
            {% for row in lane['samples'].values() %}
            <tr>
                {% for v in row.values() %}
                    <td>{{v}}</td>
                {% endfor %}
            </tr>
            {% endfor %}
            </table>
            <br><br>
        {% endif %}
    {% endfor %}
    {% if undetermined %}
    <h4>Top undetermined indices (count > 1,000,000)</h4>
    <table>
        {% for index, cnt in undetermined.items() %}
        <tr><td>{{index}}</td><td>{{cnt}}</td></tr>
        {% endfor %}
    </table>
    {% endif %}
    <h3>Letter</h3>
    <p>
    Hi all,<br><br>
    The fastq files with the read sequences of run {{run}} are available at:<br>
    <a href="{{fastq_url}}{{run}}">{{fastq_url}}{{run}}</a><br>
    or under {{fastq_dir}}{{run}} on the cluster.<br><br>
    Summary statistics can be found in
    {{stats_file}}<br><br>
    Reads with indices not in SampleSheet.csv are in the fastq
    {{undetermined}}<br><br>
    We encourage users to download a local copy of their data,
    as run data will be DELETED AFTER 30 DAYS with no exceptions.<br><br>

    For more information, please see our
    <a href="http://informatics.fas.harvard.edu/faq">FAQ Page</a>.
    </p>
    <p>
    <h3>Sample Sheet:</h3>
    {{sample_sheet}}
    </p>
{% endblock content %}
