{% extends "base.html" %}
{% block title %}{{subject}}{% endblock title %}
{% block content %}
    <h3>{{run_folder}}</h3>
    <h3>{{instrument|title}}
    </h3>
    <h3>Letter</h3>
    <p>
    Hi all,<br><br>
    The fastq files with the read sequences of run {{run_folder}} are available at:<br>
    <a href="{{fastq_url}}{{run_folder}}">{{fastq_url}}{{run_folder}}</a><br>
    or under {{fastq_dir}}{{run_folder}} on the cluster.<br><br>
    Users must download a local copy of their data,
    THIS RUN DATA WILL BE DELETED AFTER 30 DAYS from its current location with no exceptions.<br><br>

    For more information, please see our
    <a href="http://informatics.fas.harvard.edu/faq">FAQ Page</a>.
    </p><br>

    <p>Please acknowledge our support when publishing your work by referring to us
    as "The Bauer Core Facility at Harvard University."</p>
    <p>
    <p>Demultiplexing software version: {{version}}</p>
    <p>Command line run:<br><pre> {{cmd}}</pre></p>
    <h3>Sample Sheet:</h3>
    {{sample_sheet}}
    </p>
{% endblock content %}
